<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <h3>Submitted Info</h3>
    <form action="/">
        
        <table>
            <tr>
                <td>Name:</td>
                <td>{{name}}</td>
            </tr>
    
            <tr>
                <td>Dojo Location:</td>
                <td>{{dojo_location}}</td>
            </tr>
    
            <tr>
                <td>Favorite Language</td>
                <td>{{favorite_language}}</td>
            </tr>
    
            <tr>
                <td>Comment</td>
                <td>{{comment}}</td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" name="go_back" value="Button"></td>
            </tr>
        </table>
    </form>

</body>
</html>