<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in range (5):%}
        <h1>Yousef</h1>
    {% endfor %}

    {% if name == "Yousef" %}
        <p>The phrase says hello</p>
    {% endif %}

    {% for x in range(4): %}
        <p>{{ name }}</p>
    {% endfor %}
    
    <p>
        full stack dev
    </p>
</body>
</html>